/* contains styles specific to footer block */
/* block is further divided into multiple grids look code for better understanding */
.footer-text{
    background-color: lightblue;
    padding-top: 25px;
    padding-bottom: 25px;
}
.Copyright-text{
    margin-right: 150px;
    margin-left: 40px;
    vertical-align: 0px;
}
.nav-text{
    margin-left:40px;
    vertical-align: 0px;
}
.facebook-logo{
    margin-left: 300px;
    height: 23px;
    width: 23px;
}
.linkedIn-Insta-logo{
    margin-left: 30px;
    height: 23px;
    width: 23px;
}
