/* This file contains all general styles for the travelo website this are like global styles which are applicable for whole website */
body{
    padding-top: 60px;
}
hr{
    width: 69%;
    text-align: center;
}
figcaption{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}
